:root {
	--center: center;
	--div-width: 70vw;
}

* {
	box-sizing: border-box;
}

h1 {
	text-align: var(--center);
	font-size: 4em;
}

.price_heading {
	width: min-content;
	align-self: var(--center);
}

.price_heading h2 {
	margin-top: unset;
	margin-bottom: -10px;
	text-align: var(--center);
	font-size: 15vw;
}

.price_heading p {
	margin-top: unset;
	text-align: right;
}

.flex_container_col {
	display: flex;
	flex-flow: column wrap;
	justify-content: var(--center);
	align-content: var(--center);
	gap: 2em;
	width: 100%;
}

.price_box {
	display: flex;
	flex-flow: column nowrap;
	justify-content: var(--center);
	min-width: max-content;
	min-height: max-content;
	width: var(--div-width);
	height: calc(var(--div-width) * 1.5);
	max-width: 400px;
	max-height: 800px;
	padding: 20px;
	border-radius: 1em;
	border: 2px solid gray;
	background: linear-gradient(lightgray, white);
	box-shadow: 0px 0px 0px gray;
	font-size: 8vw;
	text-align: var(--center);
	transition: border 2s, box-shadow 2s, transform 2s;
}

.price_box:hover {
	box-shadow: 15px 15px 15px gray;
	border: gold 5px solid;
	transform: scaleX(1.2);
}

.price_box span {
	color: unset;
	transition: color 2s;
}

.price_box:hover span {
	color: gold;
}

.price_box button {
	align-self: var(--center);
	padding: 0.4em;
	width: 70%;
	background-color: unset;
	border: unset;
	border-radius: 0.5em;
	font-size: 1em;
	opacity: 0;
	transition: all 2s;
}

.price_box:hover button {
	background-color: gold;
	opacity: 1;
}

.price_box:hover button:hover {
	background-color: red;
	opacity: 1;
}



@media (min-width: 760px) {
	:root {
		--div-width: 25vw;
	}
	.price_heading h2 {
		font-size: 8vmin;
	}

	.flex_container_col {
		flex-flow: row nowrap;
	}

	.price_box {
		/* max-height: 50vmin; */
		font-size: 3vmin;
		padding: 1em;
		/* margin: 1em; */
	}

	.price_box:hover {
		transform: scale(1.2);
	}
	

	
}
