* {
	margin: 0;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	min-width: 100%;
	min-height: 100vh;
	opacity: 0;
	transition: opacity 10s ease;
}

.heading {
	width: 85%;
	padding: 0.5em;
	margin: 25vh auto;
	font-size: 1.5em;
	color: white;
	background-color: rgba(150, 150, 150, 0.5);
	border-radius: 1em;
	animation: slideUP 2s;
}

.heading h1 {
	color: white;
	text-transform: uppercase;
	text-shadow: 2px 2px black;
}

.heading button {
	align-self: center;
	margin: 0.2em;
	padding: 0.5em;
	border: unset;
	border-radius: 0.5em;
	font-weight: 700;
	font-size: 1.3rem;
	background-color: #e77a80;
	transition: background-color 2s ease;
}

.heading button:hover {
	background-color: lightgreen;
	transition: background-color 2s ease;
}

/* navbar */
#navbar {
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
	padding: 0px 10px;
	list-style-type: none;
	font-size: 2em;
}

.menu li a {
	display: block;
	padding: 15px 5px;
}

.menu a {
	text-decoration: none;
	color: black;
}

.logo {
	justify-self: center;
}

.item {
	display: none;
	order: 2;
	width: 100%;
	text-align: center;
}

.item a {
	transition: background-color 2s;
}

.item a:hover {
	background-color: #e77a80;
}

.toggle {
	order: 1;
}

.active .item {
	display: block;
	transform-origin: top center;
	animation: growDown 2s;
}

.heading.active {
	margin-top: 5vh;
	animation: slideDown 2s;
}

#navbar .active {
	background-color: rgba(145, 135, 182, 0.9);
	transition: all 2s;
}

@keyframes growDown {
	0% {
		transform: scaleY(0);
	}
	80% {
		transform: scaleY(1.1);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes slideDown {
	0% {
		margin-top: -25vh;
	}
	100% {
		margin-top: 5vh;
	}
}

@keyframes slideUP {
	0% {
		margin-top: 50vh;
	}
	100% {
		margin-top: 25hvh;
	}
}

@media (min-width: 770px) {
	.heading {
		width: 40%;
		margin: 25vh 5vw;
	}
	.heading.active {
		margin-top: 25vh;
	}



	.menu {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		font-size: 1.3em;
	}

	.toggle {
		display: none;
	}

	.logo {
		margin-right: 30%;
		transform: rotateZ(0deg);
		transition: transform 3s;
	}

	.logo:hover {
		transform: rotateZ(360deg);
	}

	.item {
		display: unset;
	}

	.item a {
		transition: all 2s;
	}

	.item a:hover {
		padding: 10px;
		background-color: #e77a80;
		border-radius: 10px;
		font-size: 1.5em;
	}
}
